
@{
    ViewData["Title"] = "homework4";
}

<h1>homework4</h1>
<div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="citySelect">
    </select>
    <span class="alert alert-info" id="display"></span>
</div>


@section Scripts{

    <script>
        const cities = ["台北市", "新北市", "桃園市", "台中市", "台南市", "高雄市"]
        const citySelect = document.querySelector('#CitySelect')
        const displaySpan = document.querySelector('#display')

//載入時讀取城市資料
function loadCity(){
            const datas = cities.map()
}


//點選城市後將資料載入SPAN


            < option > 1 < /option>



    </script>
}

@section Styles{

}