@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@section Styles{
    <style>
p{background:lightblue}
    </style>
}

@section Scripts{
    <script>
        $('.display-4').on('mouseover',function(){
            $(this).css('color','blue')
        }).on('mouseout', function () {
            $(this).css('color', 'red')})
    </script>
}